@media print {
    body {
        font-family: Arial, sans-serif;
    }

    main {
        padding: 20px;
    }

    .container {
        background-color: #fff;
        box-shadow: none;
        border-radius: 0;
    }

    .container .w-full {
        width: 100%;
    }

    .container .lg:w-1/2 {
    width: 100%;
    margin-bottom: 10px;
}

    img {
        max-width: 100%;
        height: auto;
    }

    h2 {
        font-size: 18pt;
        margin-bottom: 10px;
    }

    .print-header {
        display: none;
    }
}
